RAG WORKFLOW.json
{
  "name": "RAG WORKFLOW",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1i9w7WvHARCSinL4HZ9INBOpGTF7e9NtJ",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1i9w7WvHARCSinL4HZ9INBOpGTF7e9NtJ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -112
      ],
      "id": "ba7aac62-b61f-438d-bcd9-6bd9b7304db3",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Nue51bEfcHP2Vkfg",
          "name": "thanushayamala@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -112
      ],
      "id": "c2755994-db42-4733-a996-f63534d5f26e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Nue51bEfcHP2Vkfg",
          "name": "thanushayamala@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo1",
          "mode": "list",
          "cachedResultName": "demo1"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        96,
        -112
      ],
      "id": "c5855b79-d9ed-4a71-b100-bdc1e8c93460",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "lHSLgMl2N7RjlDr9",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        96
      ],
      "id": "19286d7a-9682-4817-a7a1-b37d371eb33d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HuQXZwUl24NX9ZYt",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        160,
        96
      ],
      "id": "510a7ef8-4b29-41bd-9794-cb8fd3af7cee",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": null,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        160,
        320
      ],
      "id": "f99ebfbe-b265-49a2-ad07-160fa5d8467e",
      "name": "Recursive Character Text Splitter",
      "notesInFlow": true
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        960,
        -96
      ],
      "id": "2b768fcf-8468-4723-872a-8e690db2e391",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        624,
        -96
      ],
      "id": "e34cb5c3-3dcd-433f-9257-7a559fc65b0c",
      "name": "When chat message received",
      "webhookId": "c946440c-4d5e-404b-8c4d-1a73abb59614"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        784,
        96
      ],
      "id": "428a82ab-8e76-4f2b-ab20-12e5b0a37781",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "wu3YECZ3L16u8lwN",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "calling this tool to access FAQ",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo1",
          "mode": "list",
          "cachedResultName": "demo1"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1136,
        160
      ],
      "id": "628030dd-b0d1-47f6-accd-51a23aedd762",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "lHSLgMl2N7RjlDr9",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        976,
        368
      ],
      "id": "d4d144a0-23d3-45af-a3e9-a74c64a89347",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "SEQXv1EHbRcyDEyh",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07b7df00-f12e-4a1e-ac14-3c82c4e61744",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "981f94fa01fd7a78602759db153067b73fcdcc13ff8f969a093609f1bae84092"
  },
  "id": "aV4PdzH1NP5aEqHj",
  "tags": []
}